In [1]:
a =int(input("Enter Value Of A is "))
b =int(input("Enter Value Of B is "))
print("A is ",a,"& B is ",b)
print("Type Of A is ",type(a)," & B is ",type(b))
print("Sum is ",a+b)

Enter Value Of A is 5
Enter Value Of B is 6
A is  5 & B is  6
Type Of A is  <class 'int'>  & B is  <class 'int'>
Sum is  11

In [7]:
a=input("Enter A String  ")
print(a)
print("Reverse is ",a[: :-1])

Enter A String  Manish Kumar Shah
Manish Kumar Shah
Reverse is  hahS ramuK hsinaM

In [21]:
a="Manish Kumar Shah"
print(len(a))
a.upper()
a.lower()
a.title()
print(" String Count without Spaces ")
len(a)-a.count(" ")

17
 String Count without Spaces

15

In [24]:
a=1131
b="Manish"
print("hey its me {} and {}".format(a,b))

hey its me 1131 and Manish

In [3]:
sum=0
age=int(input("Enter Age "))
for i in range (1,age+1):
    sum=sum+i
    print(i,end=" ")
print("\nSum is ",sum)

Enter Age 5
1 2 3 4 5
Sum is  15

In [12]:
def fun(*k):
    i=0
    while(i<len(k)):
     print(k[i])
     i=i+1
fun(1,2,3,"kakska")

1
2
3
kakska

In [18]:
s=input("Enter A String ")
m=s.split(" ")
for i in range (0,len(m)):
    print(m[i][: :-1],end=" ")

Enter A String abc man cba
cba nam abc

In [1]:
def num(x):
 for i in range(0,x+1):
    if i%2==0:
        print(i," Its even")
    else: 
        print(i," Its Odd")

num(7)

0  Its even
1  Its Odd
2  Its even
3  Its Odd
4  Its even
5  Its Odd
6  Its even
7  Its Odd

In [33]:
def x(a):
    return a==a[: :-1]
x("madam")

True

In [37]:
a=["Manish","Nikhil","Harsh"]
a.append("Name")
a.insert(2,"Yadav")
a.pop()
a.remove("Yadav")
a

['Manish', 'Nikhil', 'Harsh']