In [1]:
import pandas as pd

In [6]:
fruits=['Apple','Mango','Kiwi']
weekdays=['Mon','Tue','Wed']

s=pd.Series(fruits,weekdays)
t=pd.Series(fruits)

#attributes command --> values
print(s.values)
print(s.index)
print(t.index)
print(s.dtype)
print(t.dtype)

['Apple' 'Mango' 'Kiwi']
Index(['Mon', 'Tue', 'Wed'], dtype='object')
RangeIndex(start=0, stop=3, step=1)
object
object

In [7]:
rates=[3.99,4,4,56,5,1.99,2,7.8]
r=pd.Series(rates)
print(r)

0     3.99
1     4.00
2     4.00
3    56.00
4     5.00
5     1.99
6     2.00
7     7.80
dtype: float64

In [11]:
rates=[3.99,4,4,56,5,1.99,2,7.8]
r=pd.Series(rates)
print('sum=',r.sum())
print('avg=',r.mean())
print('Mul=',r.product())

sum= 84.78
avg= 10.597499999999998
Mul= 554917.7088

In [13]:
pd.read_csv('pokemon.csv')

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [19]:
#head
#tail
data=pd.read_csv('pokemon.csv')
data.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [18]:
#head
#tail
data=pd.read_csv('pokemon.csv')
data.tail()

       Pokemon     Type
716    Yveltal     Dark
717    Zygarde   Dragon
718    Diancie     Rock
719      Hoopa  Psychic
720  Volcanion     Fire

In [20]:
#head
#tail
data=pd.read_csv('pokemon.csv')
data.head(10)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug

In [21]:
#head
#tail
data=pd.read_csv('pokemon.csv')
data.tail(10)

       Pokemon     Type
711   Bergmite      Ice
712    Avalugg      Ice
713     Noibat   Flying
714    Noivern   Flying
715    Xerneas    Fairy
716    Yveltal     Dark
717    Zygarde   Dragon
718    Diancie     Rock
719      Hoopa  Psychic
720  Volcanion     Fire

In [23]:
data.values

array([['Bulbasaur', 'Grass'],
       ['Ivysaur', 'Grass'],
       ['Venusaur', 'Grass'],
       ...,
       ['Diancie', 'Rock'],
       ['Hoopa', 'Psychic'],
       ['Volcanion', 'Fire']], dtype=object)

In [24]:
data.index

RangeIndex(start=0, stop=721, step=1)

In [25]:
data.columns

Index(['Pokemon', 'Type'], dtype='object')

In [26]:
data.info

<bound method DataFrame.info of         Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]>

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Pokemon  721 non-null    object
 1   Type     721 non-null    object
dtypes: object(2)
memory usage: 11.4+ KB

In [31]:
data=pd.read_csv('pokemon.csv',squeeze=True,usecols=['Pokemon'])
data

/var/folders/x0/m85x0zv10gl3rp8t6vmzg8gm0000gn/T/ipykernel_4368/547655822.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  data=pd.read_csv('pokemon.csv',squeeze=True,usecols=['Pokemon'])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [33]:
data=pd.read_csv('pokemon.csv',append=True,usecols=['Pokemon'])
data

TypeError: read_csv() got an unexpected keyword argument 'append'

In [34]:
data.is_unique

True

In [35]:
data.shape

(721,)

In [36]:
data.size

721

In [38]:
#how many columns are theere in a series

data.ndim

1

In [40]:
#sort_values
data.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [41]:
data.sort_values(ascending=True)

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [42]:
data.sort_values(ascending=False)

717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
         ...
680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, Length: 721, dtype: object

In [43]:
data.sort_values(ascending=False,inplace=False)

717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
         ...
680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, Length: 721, dtype: object

In [45]:
data.sort_values(ascending=True,inplace=True)
#inplace true hoga to usse data show ni hoga