In [ ]:
list --->extend commnad

In [3]:
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

#l1.extend(l2)
#print(l1)

l2.extend(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

In [6]:
#lisr ---> list commmand ->>> Range function 
num = list(range(1,11))
print(num)
#print(type(num))
even=[]
for i in num:
    if i%2==0:
        even.append(i)

print(even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [8]:
num = list(range(1,11))
list1=[]
for i in num:
    if i%2==0:
        list1.append(i*i)
    else:
        list1.append(-i)

print(list1)

[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

In [14]:
#name = ["Chetan","Anuj","Mohit"]
#output=["Mohit","Anuj","Chetan"]
#output = ["natehc"]

name = ["Chetan","Anuj","Mohit"]
rev=[]
name1=[]
name1.append(name[::-1])
for i in name:
    rev.append(i[: : -1])
print(name1)
print(rev)

[['Mohit', 'Anuj', 'Chetan']]
['natehC', 'junA', 'tihoM']

In [17]:
#split command
#to convert string into list
name="Chetan,31".split(",")
print(name)

user=input("Enter the string").split(",")
print(user)

['Chetan', '31']
Enter the stringharsh,242,242134
['harsh', '242', '242134']

In [23]:
#join command
#to convert list into string
new=["chetan","31"]
print(",".join(new))

chetan,31

In [25]:
## tuples--> ordered datatype
#tuple--> secured database
#tuple--> ()
'''append, insert,pop,remove,delete can not be performed in tuple'''
'''indexing,slicing,length,count can be performed in tuple'''
num=(1,2,3,4)
print(num)
print(type(num))

(1, 2, 3, 4)
<class 'tuple'>

In [26]:
num=(1)
print(num)
print(type(num))
num1=(1,)
print(num1)
print(type(num1))

1
<class 'int'>
(1,)
<class 'tuple'>

In [30]:
#tuple without brakets
name="harsh","nikhil","manish"
print(name)
print(type(name))
name1,name2,name3=name
print(name1)
print(name2)
print(name3)
print(name[0])
print(name[1])
print(name[2])

('harsh', 'nikhil', 'manish')
<class 'tuple'>
harsh
nikhil
manish
harsh
nikhil
manish

SyntaxError: invalid syntax (3734094516.py, line 1)

In [34]:
user_info =("harsh","77",["Book1","Book2"])
user_info[2].append("Book3")
print(user_info)
user_info[2].insert(2,"Book4")
print(user_info)

('harsh', '77', ['Book1', 'Book2', 'Book3'])
('harsh', '77', ['Book1', 'Book2', 'Book4', 'Book3'])

In [36]:
#dictionary --> unordered database
#all types of data
#key : value
#{}
user={"Name":"Harsh","Age":"21"}
print(user)
print(type(user))

{'Name': 'Harsh', 'Age': '21'}
<class 'dict'>

In [38]:
user = dict(name="harsh", age=21)
print(user)
print(type(user))

{'name': 'harsh', 'age': 21}
<class 'dict'>

In [39]:
user_info={
    'name':'Harsh',
    'age' : 21
}
print(user_info)
print(type(user_info))

{'name': 'Harsh', 'age': 21}
<class 'dict'>

In [41]:
user={'Name':'Harsh','age':31}

#how to apply if else in dictionary
if 'Name' in user:
    print('Present')
else:
    print('Not Present')

#values method
if 'Harsh' in user.values():
    print('Present')
else:
    print('Not present')

Present
Present

In [44]:
#items method
user={'Name':'Harsh','age':31}
if ('Name','Harsh') in user.items():
    print('Present')
else:
    print('Not present')
    
    
    
if ('Harsh','Name') in user.items():
    print('Present')
else:
    print('Not present')

Present
Not present

In [48]:
#loops in dict
user={'Name':'Harsh','age':31}
for i in user:
    print(i)
#values method
for i in user.values():
    print(i)
#items method
for k,j in user.items():
    print(f'{k}:{j}')

Name
age
Harsh
31
Name:Harsh
age:31

In [52]:
#update method
user={'Name':'Harsh','age':31}
more_info={'state':'Bihar','Sport':['Sport1','Sport2']}
#print(user+more_info)
user.update(more_info)
print(user)

{'Name': 'Harsh', 'age': 31, 'state': 'Bihar', 'Sport': ['Sport1', 'Sport2']}